section.about-5(class="pt-10 lg:pb-20 pb-10")
	.container 
		.content(class="rem:w-[960px] mx-auto text-center active" data-id="1")
			h2(class="title-64") 1. Chọn vải
			.format-content(class="mt-4 text-2xl font-normal" ) 
				p  Tụi mình bắt đầu từ những cuộn vải Rayon mềm mịn, thấm hút và dịu nhẹ cho da bé.
		.content(class="rem:w-[960px] mx-auto text-center" data-id="2")
			h2(class="title-64") 2. Thiết kế rập
			.format-content(class="mt-4 text-2xl font-normal") 
				p  Tụi mình bắt đầu từ những cuộn vải Rayon mềm mịn, thấm hút và dịu nhẹ cho da bé.
		.content(class="rem:w-[960px] mx-auto text-center" data-id="3")
			h2(class="title-64") 3. Cắt vải
			.format-content(class="mt-4 text-2xl font-normal") 
				p  Tụi mình bắt đầu từ những cuộn vải Rayon mềm mịn, thấm hút và dịu nhẹ cho da bé.
		.content(class="rem:w-[960px] mx-auto text-center" data-id="4")
			h2(class="title-64") 4.  Ép logo
			.format-content(class="mt-4 text-2xl font-normal") 
				p  Tụi mình bắt đầu từ những cuộn vải Rayon mềm mịn, thấm hút và dịu nhẹ cho da bé.
		.content(class="rem:w-[960px] mx-auto text-center" data-id="5")
			h2(class="title-64") 5. May
			.format-content(class="mt-4 text-2xl font-normal") 
				p  Tụi mình bắt đầu từ những cuộn vải Rayon mềm mịn, thấm hút và dịu nhẹ cho da bé.
		.content(class="rem:w-[960px] mx-auto text-center" data-id="6")
			h2(class="title-64") 6. Đóng nút
			.format-content(class="mt-4 text-2xl font-normal") 
				p  Tụi mình bắt đầu từ những cuộn vải Rayon mềm mịn, thấm hút và dịu nhẹ cho da bé.
		.content(class="rem:w-[960px] mx-auto text-center" data-id="7")
			h2(class="title-64") 7. Kiểm tra thành phẩm
			.format-content(class="mt-4 text-2xl font-normal") 
				p  Tụi mình bắt đầu từ những cuộn vải Rayon mềm mịn, thấm hút và dịu nhẹ cho da bé.
		.content(class="rem:w-[960px] mx-auto text-center" data-id="8")
			h2(class="title-64") 8. Ủi
			.format-content(class="mt-4 text-2xl font-normal") 
				p  Tụi mình bắt đầu từ những cuộn vải Rayon mềm mịn, thấm hút và dịu nhẹ cho da bé.
		.about-5-slide(class="relative mt-11 ")
			.swiper 
				.swiper-wrapper 						
					.swiper-slide(data-id="1")
						.item(class="flex items-center gap-2 relative")
							.line(class="rem:w-[49px] flex-shrink-0 h-[1px] bg-[#E4E6F2]")
							.step(class="text-xl font-bold text-Neutral-Body cursor-pointer text-center whitespace-nowrap") 1. Chọn vải 
					.swiper-slide(data-id="2") 
						.item(class="flex items-center gap-2 relative")
							.line(class="rem:w-[49px] flex-shrink-0 h-[1px] bg-[#E4E6F2]")
							.step(class="text-xl font-bold text-Neutral-Body cursor-pointer text-center whitespace-nowrap") 2. Thiết kế rập
					.swiper-slide(data-id="3")
						.item(class="flex items-center gap-2 relative")
							.line(class="rem:w-[49px] flex-shrink-0 h-[1px] bg-[#E4E6F2]")
							.step(class="text-xl font-bold text-Neutral-Body cursor-pointer text-center whitespace-nowrap") 3. Cắt vải
					.swiper-slide(data-id="4")
						.item(class="flex items-center gap-2 relative")
							.line(class="rem:w-[49px] flex-shrink-0 h-[1px] bg-[#E4E6F2]")
							.step(class="text-xl font-bold text-Neutral-Body cursor-pointer text-center whitespace-nowrap") 4.  Ép logo
					.swiper-slide(data-id="5")
						.item(class="flex items-center gap-2 relative")
							.line(class="rem:w-[49px] flex-shrink-0 h-[1px] bg-[#E4E6F2]")
							.step(class="text-xl font-bold text-Neutral-Body cursor-pointer text-center whitespace-nowrap") 5. May
					.swiper-slide(data-id="6") 
						.item(class="flex items-center gap-2 relative")
							.line(class="rem:w-[49px] flex-shrink-0 h-[1px] bg-[#E4E6F2]")
							.step(class="text-xl font-bold text-Neutral-Body cursor-pointer text-center whitespace-nowrap") 6. Đóng nút
					.swiper-slide(data-id="7")
						.item(class="flex items-center gap-2 relative")
							.line(class="rem:w-[49px] flex-shrink-0 h-[1px] bg-[#E4E6F2]")
							.step(class="text-xl font-bold text-Neutral-Body cursor-pointer text-center whitespace-nowrap") 7. Kiểm tra thành phẩm
					.swiper-slide(data-id="8")
						.item(class="flex items-center gap-2 relative")
							.line(class="rem:w-[49px] flex-shrink-0 h-[1px] bg-[#E4E6F2]")
							.step(class="text-xl font-bold text-Neutral-Body cursor-pointer text-center whitespace-nowrap") 8. Ủi
			.wrap-button-slide(class="xl:block hidden")
				.btn.btn-prev.btn-sw-1.white
				.btn.btn-next.btn-sw-1.white
			



