+Banner()
section.customer(class="section-py")
	.container 	
		.customer-main(class="flex flex-col md:flex-row gap-base")
			.col-left(class="lg:w-3/12 md:w-5/12 w-full")
				.heading(class="bg-Primary-Red  p-4")
					h3(class="text-2xl font-bold text-Neutral-White") Hỗ trợ khách hàng
				.customer-nav 
					ul.customer-menu 
						li 
							a(href="./policy.html") Chính sách bảo mật thông tin
						li 
							a(href="#") Chính sách thanh toán
						li 
							a(href="") Chính sách giao hàng
						li 
							a(href="#") Chính sách đổi trả
						li 
							a(href="./faq.html") Hỏi đáp					
			.col-right(class="lg:w-9/12 md:w-7/12 w-full")
				.heading(class="flex flex-col lg:flex-row md:items-start items-center justify-between mb-base") 
					.left
						h2(class="title-40") Câu hỏi thường gặp 
				.wrap-item-toggle(class='flex flex-col gap-5')
					.item-toggle(class="group bg-Neutral-50 p-6")
						.title(class="text-lg font-medium rem:min-h-[26px] flex items-center gap-3 justify-between cursor-pointer transition-300" data-target="program-1")
							.number(class="text-lg font-medium text-neutral-950") 1.
							span(class="text-lg text-Primary-Primary_01 font-semibold")  How long does it take to see results from HIFU?
							i.fa-regular.fa-minus.text-xl.ml-auto(class="transition-300 text-Neutral-950")
						.content(style="display: none;")
							.desc(class="text-Neutral-950 text-justify font-normal")
								p Some people notice immediate tightness, but full results appear in 2-3 months as collagen regenerates.
					.item-toggle(class="group bg-Neutral-50 p-6")
						.title(class="text-lg font-medium rem:min-h-[26px] flex items-center gap-3 justify-between cursor-pointer transition-300" data-target="program-1")
							.number(class="text-lg font-medium text-neutral-950") 1.
							span(class="text-lg text-Primary-Primary_01 font-semibold")  How long does it take to see results from HIFU?
							i.fa-regular.fa-minus.text-xl.ml-auto(class="transition-300 text-Neutral-950")
						.content(style="display: none;")
							.desc(class="text-Neutral-950 text-justify font-normal")
								p Some people notice immediate tightness, but full results appear in 2-3 months as collagen regenerates.
					.item-toggle(class="group bg-Neutral-50 p-6")
						.title(class="text-lg font-medium rem:min-h-[26px] flex items-center gap-3 justify-between cursor-pointer transition-300" data-target="program-1")
							.number(class="text-lg font-medium text-neutral-950") 1.
							span(class="text-lg text-Primary-Primary_01 font-semibold")  How long does it take to see results from HIFU?
							i.fa-regular.fa-minus.text-xl.ml-auto(class="transition-300 text-Neutral-950")
						.content(style="display: none;")
							.desc(class="text-Neutral-950 text-justify font-normal")
								p Some people notice immediate tightness, but full results appear in 2-3 months as collagen regenerates.
					.item-toggle(class="group bg-Neutral-50 p-6")
						.title(class="text-lg font-medium rem:min-h-[26px] flex items-center gap-3 justify-between cursor-pointer transition-300" data-target="program-1")
							.number(class="text-lg font-medium text-neutral-950") 1.
							span(class="text-lg text-Primary-Primary_01 font-semibold")  How long does it take to see results from HIFU?
							i.fa-regular.fa-minus.text-xl.ml-auto(class="transition-300 text-Neutral-950")
						.content(style="display: none;")
							.desc(class="text-Neutral-950 text-justify font-normal")
								p Some people notice immediate tightness, but full results appear in 2-3 months as collagen regenerates.
					.item-toggle(class="group bg-Neutral-50 p-6")
						.title(class="text-lg font-medium rem:min-h-[26px] flex items-center gap-3 justify-between cursor-pointer transition-300" data-target="program-1")
							.number(class="text-lg font-medium text-neutral-950") 1.
							span(class="text-lg text-Primary-Primary_01 font-semibold")  How long does it take to see results from HIFU?
							i.fa-regular.fa-minus.text-xl.ml-auto(class="transition-300 text-Neutral-950")
						.content(style="display: none;")
							.desc(class="text-Neutral-950 text-justify font-normal")
								p Some people notice immediate tightness, but full results appear in 2-3 months as collagen regenerates.
				.pagination(class="mt-base ")
					ul.page-numbers
						li 
							a.active(href="#") 1 
						li 
							a(href="#") 2
						li 
							a(href="#") 3
