section.home-2(class="section-py bg-bg")
	.container 
		.home-2-main(class="flex flex-col md:flex-row items-center rem:gap-[88px]")
			.col-left(class="lg:rem:w-[632px] md:w-2/4 w-full")
				.home-2-content(class="flex flex-col gap-6")
					h2(class="title-48") Tại sao chọn Benty
					.format-content(class="text-2xl font-normal text-Neutral-Body")
						p Có mẹ bảo, “mặc rồi mới thấy tiếc… vì không mua combo.” Bé mặc cả ngày, không bị đỏ lưng, không quấy giữa đêm. Còn mẹ? Nhẹ lòng – và lần sau chỉ bấm mua lại, không cần nghĩ nhiều
					.home-2-btn(class="inline-flex")
						+ButtonSecondary("Khám phá thêm")
			.col-right(class="lg:w-[calc(100%-32.91666666666667rem-4.583333333333334rem)] md:w-2/4 w-full")
				.image 
					a(href="#" class="img-ratio ratio:pt-[500_680] zoom-img rounded-[32px]")
						+PugImg() 