+Banner()
section.product-detail(class="section-py")
	.container 
		.product-detail-main(class="flex flex-col lg:flex-row lg:gap-20 gap-10")
			.col-left(class="lg:rem:w-[680px] w-full")
				.product-slide-images(class="flex flex-col-reverse lg:flex-row gap-5")
					.product-slide-thumbs(class="w-full lg:rem:w-[80px] flex-shrink-0 relative")
						div(class="lg:absolute top-0 left-0 h-full w-full lg:flex lg:flex-col flex-row lg:items-center")
							.btn.btn-prev.btn-sw-1
							.swiper(class="w-full h-full lg:rem:py-[29px] py-3")
								.swiper-wrapper
									-for(i=0;i<5;i++)
										.swiper-slide
											.img(class="xs:max-md:img-ratio img-full h-full")
												+PugImg()
							.btn.btn-next.btn-sw-1
					.product-slide-main(class="relative lg:w-[calc(100%-4.166666666666667rem-1.04167rem)] w-full")
						.swiper
							.swiper-wrapper
								-for(i=0;i<5;i++)
									.swiper-slide
										a.img(class="img-ratio", data-fancybox="product-detail")
											+PugImg()
			.col-right(class="lg:w-[calc(100%-35.41666666666667rem-4.16667rem)] w-full flex flex-col")
				h1.product-title(class="title-40 !font-normal mb-6") Q235B				
				.format-content
					p Khởi lập từ những năm 90, Nam Việt sớm xác định mình là công ty thương mại, chuyên phân phối các sản phẩm thép cho xây dựng công nghiệp và dân dụng. Một cách tự hào, chúng tôi coi mình là cầu nối giữa các nhà sản xuất và người tiêu thụ. Và, để được khách hàng tin dùng, không gì khác, chúng tôi giúp khách hàng có được những sản phẩm tốt nhất, phù hợp nhất cho công trình của mình.
				.product-detail-info(class="lg:rem:w-[525px] w-full")
					.product-detail-ml(class="flex items-center rem:gap-[19px] my-6") 
						.title(class="font-bold text-Neutral-Black") Màu
						.wrapper(class="flex items-center rem:gap-[14px]")
							span.active(class="rem:p-[10px] w-5 h-5 inline-flex bg-Primary-Orange rounded-full") 
							span.active(class="rem:p-[10px] w-5 h-5 inline-flex bg-Primary-Orange rounded-full") 
							span.active(class="rem:p-[10px] w-5 h-5 inline-flex bg-Primary-Orange rounded-full") 
							
					.product-detail-quantity(class="flex lg:flex-row items-start flex-col lg:items-center gap-5") 
						.left(class="flex items-center rem:gap-[14px] lg:rem:w-[264px] w-2/4") 
							.title(class="whitespace-nowrap font-bold") Số lượng
							.quantity(class="flex items-center h-12") 
								button.minus(class="w-12 h-12 rounded-tl-lg border-t border-t-Neutral-100 border-b-Neutral-100 border-l-Neutral-100 bg-Neutral-50 inline-flex rounded-bl-lg items-center justify-center") 
									i.fa-solid.fa-minus
								.quantity-input(class="rem:w-[83px] h-full") 
									input(type="text" value="1" class="w-full bg-Neutral-White border-t border-t-Neutral-100 border-Neutral-100 border-b border-b-Neutral-100 h-full")
								button.plus(class="w-12 h-12 rounded-tr-lg  border-t border-t-Neutral-100 border-b-Neutral-100 border-l-Neutral-100 bg-Neutral-50 inline-flex rounded-br-lg items-center justify-center") 
									i.fa-solid.fa-plus
						.right(class="lg:w-[calc(100%-13.75rem-0.7291666666666667rem)] w-full md:w-2/4") 
							.button
								a(href="#" class="btn-add-cart")  
									span THÊM VÀO GIỎ HÀNG
									.icon 
										i.fa-regular.fa-cart-flatbed-boxes
				
.product-detail-tab(class="" data-toggle="tabslet")
	ul.tabslet-tab.product-detail-list
		li.active
			a(href="#tab1") Thông tin chung
		li
			a(href="#tab2") Mô tả
		li
			a(href="#tab3") Đánh giá
	.product-detail-tab-content(class="bg-Primary-Silver section-py")
		.container
			.tabslet-content.active#tab1
				.format-content 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quaerat doloribus asperiores itaque, iusto id perferendis ullam enim consectetur quisquam in alias quos. Rerum beatae quod tempora, doloremque aliquid ratione.
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero sequi explicabo nostrum quaerat molestias quod voluptatum, similique laboriosam iste, ut maiores nam magnam laudantium incidunt ipsa ad perspiciatis. Distinctio, assumenda.
			.tabslet-content#tab2
				.format-content 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quaerat doloribus asperiores itaque, iusto id perferendis ullam enim consectetur quisquam in alias quos. Rerum beatae quod tempora, doloremque aliquid ratione.
			.tabslet-content#tab3
				.format-content 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quaerat doloribus asperiores itaque, iusto id perferendis ullam enim consectetur quisquam in alias quos. Rerum beatae quod tempora, doloremque aliquid ratione. 22
		
section.product-detail-2(class="section-py")
	.container
		.heading(class="flex items-center xl:justify-center justify-between xl:mb-0 mb-base") 
			h2(class="xl:text-center text-left title-40 text-Primary-2 font-normal xl:mb-base mb-0") Sản phẩm liên quan
			.btn-mobile(class="xl:hidden flex items-center gap-3")
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1
		.product-detail-2-related(class="relative")
			.swiper 
				.swiper-wrapper 
					-for(i=0;i<10;i++)
						.swiper-slide 
							+ProductItem()
			.wrap-button-slide(class="xl:block hidden")
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1