section.about-2(class="section-40")
	.container 
		.about-2-main(class="flex flex-col lg:flex-row items-center lg:rem:gap-[156px] gap-10")
			.col-left(class="lg:rem:w-[564px] w-full")
				h2(class="title-48 mb-base") Benty được tạo nên từ một nỗi trăn trở quen thuộc của mẹ
				.format-content(class="text-2xl font-normal text-Neutral-Body")
					p Ngày làm mẹ, ai cũng mong chọn được bộ đồ thật mềm – thật mát – thật dễ chịu cho con.
					p Nhưng đồ đẹp thì đắt. Đồ rẻ lại cứng, bé mặc vào là khó chịu.
					p Benty ra đời từ những lần mẹ phải đắn đo như thế. Tụi mình muốn làm ra những bộ đồ nhỏ xinh, an toàn, dễ mặc – để mẹ yên tâm chọn, và bé luôn thoải mái.
			.col-right(class="lg:w-[calc(100%-29.375rem-8.125rem)] w-full flex gap-5 overflow-hidden lg:rem:h-[678px] h-full")
				.image-left(class="w-2/4 flex flex-col gap-5 lg:mt-[-4.8rem] mt-0")
					.image 
						a(href="#" class="img-ratio ratio:pt-[220_330] rounded-3xl")
							+PugImg() 
					.image 
						a(href="#" class="img-ratio ratio:pt-[220_330] rounded-3xl")
							+PugImg() 
					.image 
						a(href="#" class="img-ratio ratio:pt-[220_330] rounded-3xl")
							+PugImg() 
				.image-right(class="w-2/4 flex flex-col gap-5 mt-0 lg:rem:mt-[70px]")
					.image 
						a(href="#" class="img-ratio ratio:pt-[220_330] rounded-3xl")
							+PugImg() 
					.image 
						a(href="#" class="img-ratio ratio:pt-[220_330] rounded-3xl")
							+PugImg() 
					.image 
						a(href="#" class="img-ratio ratio:pt-[220_330] rounded-3xl")
							+PugImg() 

