section.home-8(class="bg-bg relative")
	.home-8-line(class="absolute top-[59%] left-0 w-full pointer-events-none z-10")
		.img(class="xl:rem:w-[1905px] w-full")
			a(href="#" class="img-ratio ratio:pt-[178_1920]")
				img(src="./img/home-8-line.svg", alt="") 
	.container
		.heading(class="mb-base")
			h2(class="title-48 mb-6") Bắt đầu từ một vài bộ đồ nhỏ, Benty giờ đã có những con số khiến tụi mình vừa tự hào, vừa biết ơn.
			.format-content(class="text-2xl font-normal text-Neutral-Body") 
				p Mỗi mẹ quay lại, mỗi đơn hàng gửi đi – đều là những bước chân nhỏ của hành trình dài yêu thương.
		.home-8-list(class="grid grid-cols-4 gap-[11.25rem] justify-center items-end mt-[5.1rem]")
			.item 
				.number 96%
				.content 
					h3 Mẹ quay lại lần hai
			.item 
				.number 100%
				.content 
					h3 Cam kết về chất lượng
			.item 
				.number 9.999+
				.content 
					h3 Sản phẩm được bán ra
			.item 
				.number 03+
				.content 
					h3 Năm kinh nghiệm

