section.cooperation-6(class="section-py")
	.container-fluid 
		.cooperation-6-list(class="grid lg:grid-cols-3 grid-cols-1 gap-5")
			.column(class="grid grid-cols-2 gap-5")
				.left(class="")
					.image
						a(href="#" class="rounded-3xl")
							+PugImg("./img/1.png") 
					.image
						a(href="#" class="rounded-3xl")
							+PugImg("./img/2.png") 
				.right(class="")
					.image 
						a(href="#" class="rounded-3xl")
							+PugImg("./img/3.png") 
			.column(class="grid grid-cols-2 gap-5")
				.left
					.image 
						a(href="#" class="rounded-3xl")
							+PugImg("./img/4.png") 
				.right
					.image 
						a(href="#" class="rounded-3xl img-ratio")
							+PugImg("./img/5.png") 
			.column(class="grid grid-cols-2 gap-5")
				.left
					.image 
						a(href="#" class="rounded-3xl")
							+PugImg("./img/6.png") 
				.right
					.image 
						a(href="#" class="rounded-3xl img-ratio")
							+PugImg("./img/5.png") 