extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/modules/cooperation/cooperation-1/cooperation-1
	include ../components/modules/cooperation/cooperation-2/cooperation-2
	include ../components/modules/cooperation/cooperation-3/cooperation-3
	include ../components/modules/cooperation/cooperation-4/cooperation-4
	include ../components/modules/cooperation/cooperation-5/cooperation-5
	include ../components/modules/cooperation/cooperation-6/cooperation-6
	include ../components/modules/cooperation/cooperation-7/cooperation-7
	include ../components/modules/cooperation/cooperation-8/cooperation-8
	include ../components/modules/cooperation/cooperation-9/cooperation-9