section.cooperation-9
	.newletter(setBackground="./img/home-10-bg.png" class="")
		.newletter-content(class="xl:rem:w-[1108px] w-full")
			.wrap(class="py-6 rounded-lg w-full lg:rem:h-[460px] h-auto xl:rem:pl-[260px] px-[16px] flex flex-col justify-center relative z-20")
				.content(class="lg:rem:w-[770px] w-full")
					h2(class="title-48 !text-Neutral-White mb-base") 
						| Mẹ thử một bộ nhé – Để bé 
						br
						| cảm nhận được sự dễ chịu đầu tiên
				.about-10-btn 
					a(href="#" class="button-primary button-primary-white")
						span Đặt đồng phục
						i.fa-regular.fa-chevron-right