footer.footer(class="")
	.container 
		.footer-top(class="section-40")
			.footer-top-list(class="grid grid-cols-4 rem:gap-[131px]")
				.footer-top-col 
					.wrap(class="flex items-center gap-6")
						.icon 
							i.fa-light.fa-envelope
						.info 
							.title Email
							a(href="#") cskh@benty.vn
				.footer-top-col 
					.wrap(class="flex items-center gap-6")
						.icon 
							i.fa-light.fa-envelope
						.info 
							.title Email
							a(href="#") cskh@benty.vn
				.footer-top-col 
					.wrap(class="flex items-center gap-6")
						.icon 
							i.fa-light.fa-envelope
						.info 
							.title Email
							a(href="#") cskh@benty.vn
				.footer-top-col 
					.wrap(class="flex items-center gap-6")
						.icon 
							i.fa-light.fa-envelope
						.info 
							.title Email
							a(href="#") cskh@benty.vn
			.footer-top-main
				.footer-column 
					h3 Công ty Cổ phần Benty
					.format-content 
						p Mã số doanh nghiệp: 3401239954
						p Giấy chứng nhận đăng ký doanh nghiệp do sở kế hoạch và đầu tư tỉnh Bình Thuận cấp lần đầu ngày 5/1/2023
						p Địa chỉ: 
							a(href="#") Số 41A đường DT717, Xóm 6, Thôn 1, Đức Phú, Tánh Linh, Bình Thuận 
				.footer-column 
					h3 Liên kết nhanh
					ul.footer-menu 
						li 
							a(href="#") Mẹ ơi, Benty là...
						li 
							a(href="#") Mẹ ơi, Benty là...
						li 
							a(href="#") Mẹ ơi, Benty là...
						li 
							a(href="#") Mẹ ơi, Benty là...
				.footer-column 
					h3 Hỗ trợ khách hàng
					ul.footer-menu 
						li 
							a(href="#") Chính sách đổi và bảo hành
						li 
							a(href="#") Chính sách bảo mật
						li 
							a(href="#") Chính sách vận chuyển
						li 
							a(href="#") Chính sách kiểm hàng
	.footer-bottom(class="border-t border-t-Neutral-100 py-6 ")
		.container
			.wrap(class="flex items-center justify-between")
				.footer-copyright(class="text-sm font-normal text-Neutral-400") © 2025 Benty. All Rights Reserved.
				.footer-bottom-end(class="flex items-center gap-base")
					.visa(class="rem:w-[313px]")
						a(href="#" class="img-ratio ratio:pt-[23_313]") 
							+PugImg("./img/visa.png") 
					.footer-bottom-auth(class="flex items-center gap-3")
						.footer-link(class="flex items-center gap-3")
							a(href="#" class="text-sm font-normal text-Neutral-400") Điều kiện & Điều khoản
							a(href="#" class="text-sm font-normal text-Neutral-400") Sitemap
						.check(class="rem:w-[108px]")
							a(href="#" class="img-ratio ratio:pt-[40_108]")
								+PugImg("./img/bocongthuong.png") 
.tool-fixed-cta
	ul 
		li.tool-btn
			a.tool(href="#")
				+PugImg("./img/tool.png")
		li.other
			a(href="#") 
				+PugImg("./img/zalo.svg")
		li.other
			a(href="#")
				+PugImg("./img/hotline.svg") 
		li.other
			a.tool-heart(href="#")
				+PugImg("./img/tool-heart.svg")
		