section.cooperation-3(class="section-py")
	.container 
		h2(class="title-48 text-center mb-base") Vì sao lựa chọn Benty 
		.cooperation-3-list(class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 md:gap-base gap-3")
			.item(class="bg-Neutral-50 px-5 py-10 rounded-[32px] flex items-center justify-center flex-col")
				.icon(class="rem:w-[64px]")
					a(href="#" class="img-ratio")
						+PugImg("./img/why-1.svg") 
				.content(class="text-center mt-8")
					.top 
						h3(class="text-2xl text-Neutral-Title font-bold mb-4") Sản phẩm dễ bán
					.bottom 
						.desc(class="text-lg font-normal text-Neutral-Title") Thiết kế tối giản, form chuẩn, giá hợp lý. Bé mặc thoải mái, mẹ dễ mua, tỉ lệ quay lại cao.
			.item(class="bg-Neutral-50 px-5 py-10 rounded-[32px] flex items-center justify-center flex-col")
				.icon(class="rem:w-[64px]")
					a(href="#" class="img-ratio")
						+PugImg("./img/why-2.svg") 
				.content(class="text-center mt-8")
					.top 
						h3(class="text-2xl text-Neutral-Title font-bold mb-4") Đảm bảo chất lượng
					.bottom 
						.desc(class="text-lg font-normal text-Neutral-Title") Dùng vải Rayon riêng biệt: mềm – thấm hút – không gây kích ứng.  Benty hỗ trợ hình ảnh, nội dung, file in sẵn để bạn dễ triển khai.
			.item(class="bg-Neutral-50 px-5 py-10 rounded-[32px] flex items-center justify-center flex-col")
				.icon(class="rem:w-[64px]")
					a(href="#" class="img-ratio")
						+PugImg("./img/why-3.svg") 
				.content(class="text-center mt-8")
					.top 
						h3(class="text-2xl text-Neutral-Title font-bold mb-4") Quy trình rõ ràng
					.bottom 
						.desc(class="text-lg font-normal text-Neutral-Title") Tư vấn nhanh – báo giá minh bạch – sản xuất đúng cam kết.  Đơn nhỏ, đơn lớn, Benty đều xử lý tử tế như nhau.
			.item(class="bg-Neutral-50 px-5 py-10 rounded-[32px] flex items-center justify-center flex-col")
				.icon(class="rem:w-[64px]")
					a(href="#" class="img-ratio")
						+PugImg("./img/why-4.svg") 
				.content(class="text-center mt-8")
					.top 
						h3(class="text-2xl text-Neutral-Title font-bold mb-4") Luôn giữ lời hẹn
					.bottom 
						.desc(class="text-lg font-normal text-Neutral-Title") Benty hiểu rằng mỗi đơn hàng là một sự chuẩn bị phía sau.  Vậy nên thời gian giao – số lượng – chất lượng luôn được đảm bảo như đã hứa.