section.home-4(class="bg-bg")
	.container 
		.home-4-content(class="bg-Neutral-White shadow-Dropshadow-Box rounded-[32px] p-10 xl:rem:w-[1480px] mx-auto w-full")
			h3(class="rem:text-[36px] font-secondary font-bold text-Primary-Orange mb-6") Mã giảm giá
			.home-4-slide(class="relative")
				.swiper 
					.swiper-wrapper 
						-for(var i = 0; i < 8; i++)
							.swiper-slide 
								.item(class="flex")
									.image(class="rem:w-[126px] flex-shrink-0")
										a(href="#" class="img-ratio")
											+PugImg("./img/coupon.svg")
									.content(class="w-[calc(100%-6.5625rem)]")
										.top 
											h3(class="text-2xl font-bold text-Neutral-Title mb-1") Giảm 100K
											.title(class="text-sm font-normal text-Neutral-Body") Cho đơn hàng từ 500K.
										.bottom(class="flex flex-col items-start lg:flex-row lg:items-center justify-between")
											.date(class="text-sm font-normal text-Neutral-400") Có hiệu lực từ: 29/04/2025
											.btn-save(class="bg-Primary-Gradient py-1 px-2 rounded-1 text-sm text-Neutral-White font-bold")
												span Lưu mã
					.home-4-scroll(class="mt-base")
						.swiper-scrollbar
				.indicator-swipe.active
					img(src="./img/chevron-left.svg", alt="" class="arrow")
					img(src="./img/Finger.png", alt="" class="hand")
					img(src="./img/chevron-right.svg", alt="" class="arrow")
