section.about-3(class="section-py")
	.container 
		.about-3-main(class="flex flex-col md:flex-row items-center lg:rem:gap-[240px] md:gap-[32px]")
			.col-left(class="lg:rem:w-[560px] md:w-2/4 w-full")
				.image(class="relative")
					a(href="#" class="img-ratio ratio:pt-[648_560] rounded-3xl")
						+PugImg() 
					.image-child(class="lg:rem:w-[360px] w-full lg:ml-auto ml-0 left-0  relative lg:left-[8rem] lg:bottom-[7rem] bottom-0")
						a(href="#" class="img-ratio ratio:pt-[260_360] rounded-3xl")
							+PugImg() 
			.col-right(class="lg:w-[calc(100%-29.166666666666668rem-12.5rem)] md:w-2/4 w-full")
				h2(class="title-48 mb-base") Tối giản, dễ chịu –nhưng không hề đơn điệu
				.format-content(class="gap-5 text-2xl font-normal")
					p Benty chọn phong cách tối giản Hàn Quốc – vì trẻ nhỏ không cần quá nhiều màu sắc để đáng yêu.
					p Thiết kế của tụi mình chú trọng sự vừa vặn, dễ mặc, và gọn gàng trong từng chi tiết nhỏ.
					p Mỗi chiếc áo, chiếc quần đều được may để bé cảm thấy dễ chịu – và mẹ thì thấy an tâm.
				.about-3-btn(class="mt-base")
					a(href="#" class="button-secondary group") 
						span Khám phá thêm
						.icon 
							i.fa-solid.fa-chevron-down
						