.banner(class="relative")
		a(href="#" class="img-ratio ratio:pt-[640_1920]")
			+PugImg("./img/banner-2.png") 
		.global-breadcrumb
			.container
				nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
					p
						a(href="#") Trang chủ
						span(class="separator")  | 
						span(class="last") Về chúng tôi
		.banner-content 
			h2(class="rem:text-[56px] text-Neutral-White font-bold mb-5") Mẹ ơi, Benty là...
			h3(class="title-40 !text-Neutral-White !font-light") Bạn muốn trở thành đại lí Benty – hay đặt đồng phục riêng cho bé? Cùng hợp tác với Benty để lan tỏa sự dễ chịu đến thật nhiều em bé.
			.banner-btn(class="flex items-center gap-5 mt-base")
				a(href="#" class="button-primary button-primary-white")
					span Đăng ký làm đại lý
					i.fa-regular.fa-chevron-right
				a(href="#" class="button-primary button-primary-white")
					span Đặt đồng phục
					i.fa-regular.fa-chevron-right
