+Banner()
section.customer(class="section-py")
	.container 	
		.customer-main(class="flex flex-col md:flex-row gap-base")
			.col-left(class="lg:w-3/12 md:w-5/12 w-full")
				.heading(class="bg-Primary-Red  p-4")
					h3(class="text-2xl font-bold text-Neutral-White") Hỗ trợ khách hàng
				.customer-nav 
					ul.customer-menu 
						li 
							a(href="./policy.html") Chính sách bảo mật thông tin
						li 
							a(href="#") Chính sách thanh toán
						li 
							a(href="") Chính sách giao hàng
						li 
							a(href="#") Chính sách đổi trả
						li 
							a(href="./faq.html") Hỏi đáp					
			.col-right(class="lg:w-9/12 md:w-7/12 w-full")
				.policy-content(class="rounded-[32px] bg-Neutral-White shadow-Dropshadow-Light p-6")
					h2(class="title-40 mb-base") Chính sách bảo mật thông tin
					.format-content 
						p Việc thu thập dữ liệu chủ yếu trên website vitabiotics.vn bao gồm: email, điện thoại, địa chỉ khách hàng,.. Đây là các thông tin vitabiotics.vn cần khách hàng cung cấp bắt buộc khi đăng ký sử dụng dịch vụ và vitabiotics.vn liên hệ xác nhận khi khách hàng đăng ký sử dụng dịch vụ tại vitabiotics.vn nhằm đảm bảo quyền lợi cho cho người tiêu dùng. Trong quá trình giao dịch thanh toán tại website vitabiotics.vn, chúng tôi chỉ lưu giữ thông tin chi tiết về đơn hàng đã thanh toán của khách hàng, các thông tin về số tài khoản ngân hàng của khách hàng sẽ không được lưu giữ.
						p 
							h(class="text-2xl text-Primary-Red") 1.	Mục đích và phạm vi thu thập:
						