section.about-8(class="section-py bg-linear-orange")
	.container 
		.heading(class="lg:mb-20 mb-10")
			h2(class="title-48 !text-Neutral-White mb-6") Bắt đầu từ một vài bộ đồ nhỏ, Benty giờ đã có những con số khiến tụi mình vừa tự hào, vừa biết ơn.
			.format-content(class="text-Neutral-White text-2xl")
				p Mỗi mẹ quay lại, mỗi đơn hàng gửi đi – đều là những bước chân nhỏ của hành trình dài yêu thương.
		.about-8-list(class="grid lg:grid-cols-4 grid-cols-2 gap-base")
			.item 
				.number.countup(data-number="96%") 0
			
				h3 Mẹ quay lại lần hai 
			.item 
				.number.countup(data-number="100%") 0
				h3 Mẹ quay lại lần hai
			.item 
				.number.countup(data-number="9.999+") 0
				h3 Mẹ quay lại lần hai
			.item 
				.number.countup(data-number="03+") 0
				h3 Mẹ quay lại lần hai