.about-8
	.about-8-list
		.item
			.number
				-webkit-text-stroke-width: 2px
				-webkit-text-stroke-color: #fff
				line-height: calc( 52 / 64 )
				fill: none
				@apply rem:text-[64px] font-black text-transparent mb-8
			h3
				line-height: calc( 32 / 24 )
				@apply text-2xl font-bold text-Neutral-White
